section.quote_home__wrapper.bg__image__2.shadow.py-5.mt-5
  .container-fluid
    .row
      .col-12
        blockquote.quote_home__blockquote.blockquote.border-0.m-0
          .h2.mb-3.text-white.text-justify.text-md-center Tiền thân của khoa Công nghệ Thông tin là bộ môn Tin học (tháng 08 năm 1998) thuộc Khoa Điện Tử – Tin Học trường Cao Đẳng Kỹ Thuật Cao Thắng Thành lập vào tháng 01 năm 2020.
          footer.blockquote-footer.text-white.text-right.text-md-center Trích lược sử hình thành
            cite(title='khoa Công nghệ Thông tin') khoa Công nghệ Thông tin
