.bg__caothang__light
  .pt-4
    include ../breadcrumb/breadcrumb.pug
  section.post_page__wrapper.mt-4
    .container-fluid.bg-white.shadow.rounded-lg
      .row.no-gutters
        .col-md-7.col-lg-8
          .px-3.py-4.p-lg-5
            .text-center
              h1.post_page__title.font-weight-bold.text-uppercase [S4L] KẾT QUẢ SOLUTIONS FOR LIFE KỲ 03 TRANSLATING INTO PROTEIN
              .d-flex.flex-column.flex-sm-row.justify-content-center
                .mr-sm-4
                  span.mdi.mdi-pencil.mr-1
                  strong Trần Quang Khải
                div
                  span.mdi.mdi-clock.mr-1
                  span 15h15 26/6/2020
            .post_page__content.text-justify.mt-4
              p
                | CLB Tin học xin chúc mừng bạn Lê Hoàng Khang (CĐ TH 19C) và bạn Võ Bằng Kiều (CĐ TH
                | 19D) đã có lời giải chính xác cho bài toán kỳ 03 Solutions For Life với chủ đề
                | “Translating into Protein”. Thân mời bạn đến VP. BM. Tin học lầu 7 dãy F vào lúc
                | 11h15 ngày thứ 4 (18.12.2019) để nhận thưởng.
              img(src='img/news/bang-vang-thanh-tich-03.jpg')
              p
                | Xin chúc mừng các bạn đã xuất sắc giải quyết được yêu cầu bài toán, đồng thời xin gởi
                | lời cảm ơn các bạn còn lại đã hưởng ứng tham gia cuộc thi, rất mong nhận được sự
                | nhiệt thành của các bạn trong các cuộc thi sắp tới.
              p Cuộc thi Solutions For Life
              p CLB Tin học Cao Thắng ./.
        .col-md-5.col-lg-4
          .post_page__relatedPosts
            .px-3.py-4.p-lg-5
              .job_home__title.position-relative.text-center
                .job_home__desc.d-inline-block.bg-white.text-uppercase.font-weight-bold.px-3 Tin tức khác
                hr.m-0.border-dark
              .row.mt-3
                .col-auto.pr-0
                  .post_page__post__thumbnail.border
                    img(src='img/news/bang-vang-thanh-tich-03.jpg' alt='')
                .col
                  a(href='#').post_page__sub__title.font-weight-bold.text-dark [S4L] KẾT QUẢ SOLUTIONS FOR LIFE KỲ 03 TRANSLATING INTO PROTEIN
                  .text-muted.mt-2 26/6/2020
              .row.mt-3
                .col-auto.pr-0
                  .post_page__post__thumbnail.border
                    img(src='img/news/bang-vang-thanh-tich-03.jpg' alt='')
                .col
                  a(href='#').post_page__sub__title.font-weight-bold.text-dark
                    | Lorem ipsum dolor sit
                    | amet
                    | consectetur adipisicing elit. At.
                  .text-muted.mt-2 26/6/2020
              .row.mt-3
                .col-auto.pr-0
                  .post_page__post__thumbnail.border
                    img(src='img/news/bang-vang-thanh-tich-03.jpg' alt='')
                .col
                  a(href='#').post_page__sub__title.font-weight-bold.text-dark
                    | Lorem ipsum dolor
                    | sit
                    | amet consectetur adipisicing elit. At.
                  .text-muted.mt-2 26/6/2020