section.highlight_home__wrapper.mt-5
  .container-fluid
    .row
      .d-none.d-lg-block.col-lg-3(style='z-index: 2')
        a(href='#').text-reset.text-decoration-none.d-block.highlight_home__title.mt-lg-4.pr-lg-4.py-lg-4.bg-white.text-uppercase [THÔNG BÁO KHẨN] THỜI KHOÁ BIỂU HỌC KỲ PHỤ VÉT KHOÁ 2017 (CẬP NHẬT)
        small.highlight_home__postedtime.text-muted 13/06/2020
        .highlight_home__desc.mb-2.mb-lg-3 Cập nhật thời khoá biểu môn Cấu trúc dữ liệu và thuật toán, bổ sung thêm môn Thực tập Phương pháp lập trình Hướng đối tượng.
        //- a(href='#').m-0.py-2.px-4.highlight_home__read.btn.btn-primary Xem chi tiết
        a(href='#').m-0.py-2.px-4.highlight_home__read.btn.text-white.bg__caothang Xem chi tiết
      .col-lg-9(style='z-index: 1')
        .highlight_home__slider.swiper-container
          .swiper-wrapper
            .swiper-slide
              a(href='#').position-relative.d-block
                img.swiper-lazy.w-100(data-src='https://via.placeholder.com/1000x600.png?text=01' alt='image')
                span.highlight_home__boxlink.bg__caothang.mdi.mdi-call-made.d-flex.justify-content-center.align-items-center.text-white.position-absolute
              .d-lg-none.mt-2
                .highlight_home__title.text-uppercase [THÔNG BÁO KHẨN] THỜI KHOÁ BIỂU HỌC KỲ PHỤ VÉT KHOÁ 2017 (CẬP NHẬT)
                small.highlight_home__postedtime.text-muted 13/06/2020
                .highlight_home__desc Cập nhật thời khoá biểu môn Cấu trúc dữ liệu và thuật toán, bổ sung thêm môn Thực tập Phương pháp lập trình Hướng đối tượng.
            .swiper-slide
              a(href='#').position-relative.d-block
                img.swiper-lazy.w-100(data-src='https://via.placeholder.com/1000x600.png?text=02' alt='image')
                span.highlight_home__boxlink.bg__caothang.mdi.mdi-call-made.d-flex.justify-content-center.align-items-center.text-white.position-absolute
              .d-lg-none.mt-2
                .highlight_home__title.text-uppercase [THÔNG BÁO 2] LỊCH THI LẦN 2 / HK1 / 2019 – 2020 (CẬP NHẬT)
                small.highlight_home__postedtime.text-muted 13/06/2020
                .highlight_home__desc 02. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, natus. Eos asperiores illo quam aliquid. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, aspernatur!
            .swiper-slide
              a(href='#').position-relative.d-block
                img.swiper-lazy.w-100(data-src='https://via.placeholder.com/1000x600.png?text=03' alt='image')
                span.highlight_home__boxlink.bg__caothang.mdi.mdi-call-made.d-flex.justify-content-center.align-items-center.text-white.position-absolute
              .d-lg-none.mt-2
                .highlight_home__title.text-uppercase [THÔNG BÁO 3] LỊCH THI LẦN 2 / HK1 / 2019 – 2020 (CẬP NHẬT)
                small.highlight_home__postedtime.text-muted 13/06/2020
                .highlight_home__desc 03. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, natus. Eos asperiores illo quam aliquid.
            .swiper-slide
              a(href='#').position-relative.d-block
                img.swiper-lazy.w-100(data-src='https://via.placeholder.com/1000x600.png?text=04' alt='image')
                span.highlight_home__boxlink.bg__caothang.mdi.mdi-call-made.d-flex.justify-content-center.align-items-center.text-white.position-absolute
              .d-lg-none.mt-2
                .highlight_home__title.text-uppercase [THÔNG BÁO 4] LỊCH THI LẦN 2 / HK1 / 2019 – 2020 (CẬP NHẬT)
                small.highlight_home__postedtime.text-muted 13/06/2020
                .highlight_home__desc 04. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, natus. Eos asperiores illo quam aliquid.
          .swiper-pagination.d-lg-none.position-static
        .highlight_home__slider__thumbnail.swiper-container.d-none.d-lg-block
          .swiper-wrapper
            .swiper-slide
              .highlight_home__slider__item.user-select-none.active.px-3.py-2
                .highlight_home__counter.text-muted 01.
                .highlight_home__sub_title [THÔNG BÁO 1] THỜI KHOÁ BIỂU HỌC KỲ PHỤ T7 - CN (CẬP NHẬT)
                .highlight_home__sub_desc.d-none 01. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, consequuntur.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
            .swiper-slide
              .highlight_home__slider__item.user-select-none.px-3.py-2
                .highlight_home__counter.text-muted 02.
                .highlight_home__sub_title [THÔNG BÁO 2] LỊCH THI LẦN 2 / HK1 / 2019 – 2020 (CẬP NHẬT)
                .highlight_home__sub_desc.d-none 02. Lorem ipsum dolor, sit amet consectetur adipisicing.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
            .swiper-slide
              .highlight_home__slider__item.user-select-none.px-3.py-2
                .highlight_home__counter.text-muted 03.
                .highlight_home__sub_title [THÔNG BÁO 3] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17
                .highlight_home__sub_desc.d-none 03. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio consectetur rerum sunt, inventore itaque neque.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
            .swiper-slide
              .highlight_home__slider__item.user-select-none.px-3.py-2
                .highlight_home__counter.text-muted 04.
                .highlight_home__sub_title [THÔNG BÁO 4] ĐIỀN THÔNG TIN THỰC TẬP TỐT NGHIỆP CĐN QTM 17
                .highlight_home__sub_desc.d-none 04. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde architecto laboriosam, a enim sunt at nulla error inventore, reiciendis ab dicta facere, ex molestias.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
          .swiper-scrollbar