section.highlight_home__wrapper.mt-5
  .container
    .row
      .col-md-3(style='z-index: 2')
        .highlight_home__title.h2.mt-4.pr-4.py-4.bg-white.text-uppercase [THÔNG BÁO KHẨN] THỜI KHOÁ BIỂU HỌC KỲ PHỤ VÉT KHOÁ 2017 (CẬP NHẬT)
        small.highlight_home__postedtime.text-muted 13/06/2020
        .highlight_home__desc.mb-3 Cập nhật thời khoá biểu môn Cấu trúc dữ liệu và thuật toán, bổ sung thêm môn Thực tập Phương pháp lập trình Hướng đối tượng.
        a(href='#').highlight_home__read.btn.btn-primary Xem chi tiết
      .col-md-9(style='z-index: 1')
        .highlight_home__slider.swiper-container
          .swiper-wrapper
            .swiper-slide
              a(href='#').position-relative.d-block
                img.lazy.mw-100(src='https://via.placeholder.com/1200x600.png?text=01' alt='image')
                //- img.lazy.mw-100(src='https://picsum.photos/1200/600' alt='image')
                span(style='width:36px; height: 36px; bottom: 0; right: 0').mdi.mdi-call-made.mdi-24px.d-block.bg-gradient-primary.text-white.text-center.position-absolute
            .swiper-slide
              a(href='#').position-relative.d-block
                img.lazy.mw-100(src='https://via.placeholder.com/1200x600.png?text=02' alt='image')
                span(style='width:36px; height: 36px; bottom: 0; right: 0').mdi.mdi-call-made.mdi-24px.d-block.bg-gradient-primary.text-white.text-center.position-absolute
            .swiper-slide
              a(href='#').position-relative.d-block
                img.lazy.mw-100(src='https://via.placeholder.com/1200x600.png?text=03' alt='image')
                span(style='width:36px; height: 36px; bottom: 0; right: 0').mdi.mdi-call-made.mdi-24px.d-block.bg-gradient-primary.text-white.text-center.position-absolute
            .swiper-slide
              a(href='#').position-relative.d-block
                img.lazy.mw-100(src='https://via.placeholder.com/1200x600.png?text=04' alt='image')
                span(style='width:36px; height: 36px; bottom: 0; right: 0').mdi.mdi-call-made.mdi-24px.d-block.bg-gradient-primary.text-white.text-center.position-absolute
        .highlight_home__slider__thumbnail.swiper-container
          .swiper-wrapper
            .swiper-slide
              .highlight_home__slider__item.active.px-3.py-2
                .h5.text-muted 01.
                img.d-none(src='https://picsum.photos/1200/600' alt='image')
                .highlight_home__sub_title [THÔNG BÁO] THỜI KHOÁ BIỂU HỌC KỲ PHỤ T7 - CN (CẬP NHẬT)
                .highlight_home__sub_desc.d-none 01. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, consequuntur.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
            .swiper-slide
              .highlight_home__slider__item.px-3.py-2
                .h5.text-muted 02.
                img.d-none(src='https://picsum.photos/1200/600' alt='image')
                .highlight_home__sub_title [THÔNG BÁO] LỊCH THI LẦN 2 / HK1 / 2019 – 2020 (CẬP NHẬT)
                .highlight_home__sub_desc.d-none 02. Lorem ipsum dolor, sit amet consectetur adipisicing.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
            .swiper-slide
              .highlight_home__slider__item.px-3.py-2
                .h5.text-muted 03.
                img.d-none(src='https://picsum.photos/1200/600' alt='image')
                .highlight_home__sub_title [THÔNG BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17
                .highlight_home__sub_desc.d-none 03. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio consectetur rerum sunt, inventore itaque neque.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
            .swiper-slide
              .highlight_home__slider__item.px-3.py-2
                .h5.text-muted 04.
                img.d-none(src='https://picsum.photos/1200/600' alt='image')
                .highlight_home__sub_title [THÔNG BÁO] ĐIỀN THÔNG TIN THỰC TẬP TỐT NGHIỆP CĐN QTM 17
                .highlight_home__sub_desc.d-none 04. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde architecto laboriosam, a enim sunt at nulla error inventore, reiciendis ab dicta facere, ex molestias.
                small.highlight_home__sub_postedtime.text-muted 13/06/2020
          .swiper-scrollbar