section.breadcrumb_container.mt-3
  .container
    nav.breadcrumb_nav
      li.breadcrumb_item
        a(href="#").breadcrumb_link Root
      li.breadcrumb_item
        a(href="#").breadcrumb_link Level 1
      li.breadcrumb_item
        a(href="#").breadcrumb_link Level 2
      li.breadcrumb_item
        a(href="#").breadcrumb_link Level 3