section.breadcrumb_container
  .container-fluid.pl-md-0
    nav.breadcrumb_nav
      li.breadcrumb_item
        a(href="#").breadcrumb_link Trang chủ
      li.breadcrumb_item
        a(href="#").breadcrumb_link Level 1
      li.breadcrumb_item
        a(href="#").breadcrumb_link Level 2
      li.breadcrumb_item
        a(href="#").breadcrumb_link Lorem ipsum dolor sit amet.