.breadcrumb
  &_nav
    display: flex
    flex-wrap: wrap
    list-style: none
    line-height: 1
  &_item
    display: flex
    align-items: center
    &:first-of-type
      .breadcrumb_link
        padding-left: 16px
    &:nth-of-type(2)
      .breadcrumb_link
        background: lighten(#283890, 15)
        &::before
          border-left-color: lighten(#283890, 15)
    // &:nth-of-type(3)
    //   .breadcrumb_link
    //     background: lighten(#283890, 30)
    //     &::before
    //       border-left-color: lighten(#283890, 30)
    &:last-of-type
      .breadcrumb_link
        color: #fff
        background: transparent
        &::before,
        &::after
          border-left-color: transparent
    .breadcrumb_link
      color: inherit
      display: flex
      position: relative
      align-items: center
      color: #fff
      background: #283890
      padding: 8px 2px 8px 24px
      max-width: 100%
      text-overflow: ellipsis
      -webkit-line-clamp: 1
      display: -webkit-box
      -webkit-box-orient: vertical
      transition: unset
      text-decoration: none
      font-size: 14px
      @media screen and ( min-width: 768px )
        font-size: 16px
      // &:hover
      //   color: inherit
      //   background: #fff
      //   &::before
      //     border-left-color: #fff
      &::before,
      &::after
        content: ''
        width: 0
        height: 0
        display: block
        border-top: 16px solid transparent
        border-bottom: 16px solid transparent
        border-left: 16px solid #283890
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 100%
        z-index: 2
      &::after
        z-index: 1
        border-left-color: #fff
        margin-left: 1px
