.partner_home
  &__item
    img
      max-width: 64px
    @media screen and ( min-width: 768px )
      border-radius: 0.25rem
      border: 1px solid transparent
      transition: all .2s ease-in-out
      box-shadow: 0 0 8px 0 silver
      img
        max-width: 96px
      &:hover
        border-color: #007DC6
  &__desc
    font-size: 14px
    margin-top: 4px
    line-height: 1.25
    @media screen and ( min-width: 768px )
      font-size: 16px
      margin: 8px 10px 0
