section.partner_home__wrapper.mt-5
  .container
    .partner_home__slider.swiper-container
      .swiper-wrapper
        .swiper-slide
          a(href='https://caothang.edu.vn/').partner_home__item.d-block.text-center.p-2.p-md-3.m-md-2
            img.swiper-lazy(data-src='https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/18118509_1855268601400040_1557862388781110452_n.png?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=UHXgYDxN8JQAX8pE5Rd&_nc_ht=scontent-hkt1-1.xx&oh=d24ad199177ce6c42ebfeff8543d5dcd&oe=5F16A928' alt='Cao Đẳng Kỹ Thuật Cao Thắng')
            .partner_home__desc Cao Đẳng Kỹ Thuật Cao Thắng
        .swiper-slide
          a(href='https://www.hcmus.edu.vn/').partner_home__item.d-block.text-center.p-2.p-md-3.m-md-2
            img.swiper-lazy(data-src='https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/35189853_2076230709311065_3947220011839389696_o.png?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=qr4Z5-G8HNMAX9LGfvC&_nc_ht=scontent.fvca1-1.fna&oh=876295f2dfb94af7b4ae990087e0fdcb&oe=5F182AA6' alt='Đại Học Khoa Học Tự Nhiên')
            .partner_home__desc Đại Học Khoa Học Tự Nhiên
        .swiper-slide
          a(href='https://www.hcmut.edu.vn/vi').partner_home__item.d-block.text-center.p-2.p-md-3.m-md-2
            img.swiper-lazy(data-src='https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/68725418_110355766994876_4813099381651668992_n.jpg?_nc_cat=101&_nc_sid=09cbfe&_nc_ohc=RHcM1FOW6BsAX9gKOnY&_nc_ht=scontent.fvca1-2.fna&oh=d95fe87a8e75c25ee4fa456c969f1872&oe=5F1811F3' alt='Đại Học Bách Khoa')
            .partner_home__desc Đại Học Bách Khoa
        .swiper-slide
          a(href='http://hcmute.edu.vn/').partner_home__item.d-block.text-center.p-2.p-md-3.m-md-2
            img.swiper-lazy(data-src='https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/29511446_1740233352681929_3480930632528658771_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=Lhpo-r5JB8MAX_6IWtl&_nc_ht=scontent-hkt1-1.xx&oh=b048d9191e67147dcb45b9c45d33f44a&oe=5F158995' alt='Đại Học Sư Phạm Kỹ Thuật')
            .partner_home__desc Đại Học Sư Phạm Kỹ Thuật
        .swiper-slide
          a(href='https://www.uit.edu.vn/').partner_home__item.d-block.text-center.p-2.p-md-3.m-md-2
            img.swiper-lazy(data-src='https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/399245_381779535247926_46616087_n.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=0PQ3lUiwKOoAX_A4dRv&_nc_ht=scontent-hkt1-1.xx&oh=c9493d83bdb3a40f4c249f7f547c7129&oe=5F18969C' alt='Đại Học Công Nghệ Thông Tin')
            .partner_home__desc  Đại Học Công Nghệ Thông Tin