block var
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='./css/global.min.css')
    link(rel='stylesheet' href='./css/main.min.css')
    title #{title}
  body
    block header
      include ../components/header/index.pug
    main
      block main
      include ../components/social-media/social-media.pug
    block footer
      section.small.copyright.bg__caothang__light.text-white.py-2.text-center &copy; 2020 Khoa CNTT - Trường Cao Đẳng Kỹ Thuật Cao Thắng
    script(src='./js/global.min.js')
    script(src='./js/main.min.js')
    block script
