block var
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='./css/global.min.css')
    link(rel='stylesheet' href='./css/main.min.css')
    title #{title}
  body
    block header
      include ../components/header/index.pug
    main
      block main
      button.button_BackToTop.m-0.p-0.btn.btn-primary.mdi.mdi-chevron-up.mdi-24px(style='width: 48px; height: 48px; position: fixed; bottom: 48px; right: 48px; z-index: 1080; transition: all .2s ease-in-out')
    block footer
      include ../components/footer/index.pug
    script(src='./js/global.min.js')
    script(src='./js/main.min.js')
    block script
