extends _layout.pug

block var
  -var title = 'Danh mục'

block main
  include ../components/banner-home/banner-home.pug
  include ../components/breadcrumb/breadcrumb.pug
  .container.mt-3.py-5.z-depth-1
    .container
      section.dark-grey-text
        h2.text-center.font-weight-bold.mb-4.pb-2 TIN TỨC
        p.text-center.mx-auto.w-responsive.mb-5 Thông báo chung cho Sinh viên Khoa Tin học. Mời các bạn theo dõi.
        .row.align-items-center.mt-4
          .col-lg-5.col-xl-4
            .view.overlay.rounded.z-depth-1-half.mb-lg-0.mb-4
              img.img-fluid(src='img/news/olympic.jpg' alt='image')
              a
                .mask.rgba-white-slight
          .col-lg-7.col-xl-8
            h4.font-weight-bold.mb-3
              strong Olympic Tin học Sinh viên
            p.dark-grey-text Cuộc thi Olympic Tin học Sinh viên toàn quốc là một cuộc thi lớn ành cho các bạn sinh viên đam mê lập trình và thuật toán ở Việt Nam, là cơ hội để các bạn có thể được học hỏi, giao lưu và khẳng định khả năng của bản thân mình..
            p
              | by 
              a.font-weight-bold Trần Quang Khải
              | , 29/06/2020
            a.btn.btn-primary.btn-md.mx-0.btn-rounded Xem chi tiết
        .row.align-items-center.mt-4
          .col-lg-5.col-xl-4
            .view.overlay.rounded.z-depth-1-half.mb-lg-0.mb-4
              img.img-fluid(src='img/news/bang-vang-thanh-tich-03.jpg' alt='image')
              a
                .mask.rgba-white-slight
          .col-lg-7.col-xl-8
            h4.font-weight-bold.mb-3
              strong [S4L] KẾT QUẢ SOLUTIONS FOR LIFE KỲ 03 TRANSLATING INTO PROTEIN
            p.dark-grey-textCLB Tin học xin chúc mừng bạn Lê Hoàng Khang (CĐ TH 19C) và bạn Võ Bằng Kiều (CĐ TH 19D) đã có lời giải chính xác cho bài toán kỳ 03 Solutions For Life với chủ đề “Translating into Protein”.
            p
              | by 
              a.font-weight-bold Trần Quang Khải
              | , 29/06/2020
            a.btn.btn-primary.btn-md.mx-0.btn-rounded Xem chi tiết
        .row.align-items-center.mt-4
          .col-lg-5.col-xl-4
            .view.overlay.rounded.z-depth-1-half.mb-lg-0.mb-4
              img.img-fluid(src='img/news/haemoglobin.png' alt='image')
              a
                .mask.rgba-white-slight
          .col-lg-7.col-xl-8
            h4.font-weight-bold.mb-3
              strong [Problem 03] Translating RNA into Protein
            p.dark-grey-text Giống như các acid nucleic là một chuỗi polyme của nucleotides, protein cũng là một chuỗi các phân tử nhỏ hơn được gọi là amino acid; có hơn khoảng 20 amino acids phổ biến xuất hiện trong tất cả các loài. Cũng giống như cấu trúc chính của nucleic acid là sự sắp xếp các nucleotides cảu nó, cấu trúc chính của protein cũng là sự sắp xếp các amino acids. Một số protein được tổ hợp từ một vài chuỗi con gọi là polypeptides trong khi một số khác được hình thành từ một polypeptide duy nhất..
            p
              | by 
              a.font-weight-bold Trần Quang Khải
              | , 29/06/2020
            a.btn.btn-primary.btn-md.mx-0.btn-rounded Xem chi tiết
        hr.my-4
        ul.pagination.pagination-circle.pg-blue.mb-0.justify-content-center
          li.page-item.disabled
            a.page-link Đầu tiên
          li.page-item.disabled
            a.page-link
              span «
          li.page-item.active
            a.page-link 1
          li.page-item
            a.page-link 2
          li.page-item
            a.page-link 3
          li.page-item
            a.page-link
              span »
          li.page-item
            a.page-link Cuối cùng
