extends _layout.pug

block var
  -var title = 'Trang chủ'

block main
  include ../components/highlight-home/highlight-home.pug
  include ../components/job-home/job-home.pug
  include ../components/gallery-home/gallery-home.pug
  include ../components/news-home/news-home.pug
  include ../components/partner-home/partner-home.pug