extends _layout.pug

block var
  -var title = 'Trang chủ'

block main
  //- include ../components/banner-home/banner-home.pug
  include ../components/highlight-home/highlight-home.pug
  include ../components/job-home/job-home.pug
  include ../components/feature-home/feature-home.pug
  include ../components/quote-home/quote-home.pug
  include ../components/news-home/news-home.pug
  include ../components/gallery-home/gallery-home.pug
  include ../components/partner-home/partner-home.pug
  include ../components/footer/index.pug