extends _layout.pug

block var
  -var title = 'Chi tiết bài viết'

block main
  include ../components/banner-home/banner-home.pug
  include ../components/breadcrumb/breadcrumb.pug
  .container.mt-3.py-5
    section.mx-md-5.dark-grey-text
      .row
        .col-md-8
          .z-depth-1.p-4
            .view.view-cascade.overlay
              img.card-img-top(src='https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg' alt='Sample image')
              a(href='#!')
                .mask.rgba-white-slight
            .mt-3.text-center
              h3.font-weight-bold
                a [S4L] KẾT QUẢ SOLUTIONS FOR LIFE KỲ 03 TRANSLATING INTO PROTEIN
              p
                | Written by 
                a
                  strong Trần Quang Khải
                | , 26/6/2020
            .mt-5
              p CLB Tin học xin chúc mừng bạn Lê Hoàng Khang (CĐ TH 19C) và bạn Võ Bằng Kiều (CĐ TH 19D) đã có lời giải chính xác cho bài toán kỳ 03 Solutions For Life với chủ đề “Translating into Protein”. Thân mời bạn đến VP. BM. Tin học lầu 7 dãy F vào lúc 11h15 ngày thứ 4 (18.12.2019) để nhận thưởng.
              p Xin chúc mừng các bạn đã xuất sắc giải quyết được yêu cầu bài toán, đồng thời xin gởi lời cảm ơn các bạn còn lại đã hưởng ứng tham gia cuộc thi, rất mong nhận được sự nhiệt thành của các bạn trong các cuộc thi sắp tới.
              p Cuộc thi Solutions For Life
              p CLB Tin học Cao Thắng ./.
        .col-md-4
          .magazine-section.dark-grey-text
          h3.text-center.font-weight-bold.mb-4.pb-2 Tin tức khác
          .single-new
            .row
              .col-md-4
                .view.overlay.rounded.z-depth-1.mb-4
                  img.img-fluid(src='img/news/bang-vang-thanh-tich-03.jpg' alt='')
                  a
                    .mask.rgba-white-slight
              .col-md-8
                p.mb-0.font-weight-bold.dark-grey-text 26/6/2020
                .d-flex.justify-content-between
                  .col-11.text-truncate.pl-0.mb-3
                    a.dark-grey-text(href='#!')
                      | Lorem ipsum dolor sit amet,
                      | consectetur adipiscing elit
                  a
                    i.fas.fa-angle-double-right
            .single-new
              .row
                .col-md-4
                  .view.overlay.rounded.z-depth-1.mb-4
                    img.img-fluid(src='img/news/haemoglobin.png' alt='Sample image')
                    a
                      .mask.rgba-white-slight
                .col-md-8
                  p.mb-0.font-weight-bold.dark-grey-text 26/6/2020
                  .d-flex.justify-content-between
                    .col-11.text-truncate.pl-0.mb-3
                      a.dark-grey-text(href='#!')
                        | Lorem ipsum dolor sit
                        | amet,
                        | consectetur adipiscing elit
                    a
                      i.fas.fa-angle-double-right
              .single-new
                .row
                  .col-md-4
                    .view.overlay.rounded.z-depth-1.mb-4
                      img.img-fluid(src='img/news/olympic.jpg' alt='Sample image')
                      a
                        .mask.rgba-white-slight
                  .col-md-8
                    p.mb-0.font-weight-bold.dark-grey-text 26/6/2020
                    .d-flex.justify-content-between
                      .col-11.text-truncate.pl-0.mb-3
                        a.dark-grey-text(href='#!')
                          | Lorem ipsum dolor
                          | sit amet,
                          | consectetur adipiscing elit
                      a
                        i.fas.fa-angle-double-right

      hr.mb-5.mt-4
