extends _layout.pug

block var
  -var title = 'Việc làm'

block main
  include ../components/banner-home/banner-home.pug
  include ../components/breadcrumb/breadcrumb.pug
  include ../components/job-page/job-page.pug