header.header_master.sticky-top
  .header_desktop.d-none.d-lg-block.px-3.py-2
    .container
      nav.header_navbar
        a(href='index.html').d-block
          img.header_logo__desktop(src='img/logo/logo.jpg' alt='logo Cao Thắng')
        nav.nav.header_navbar__nav.ml-auto
          li.nav-item
            a(href='index.html').nav-link.active.text-uppercase Trang Chủ
          li.nav-item.dropdown
            a(href='#' role='button' data-toggle='dropdown').nav-link.text-uppercase.dropdown-toggle Giới thiệu
            .dropdown-menu.p-0.shadow
              a(href='#').dropdown-item Giới thiệu chung
              a(href='#').dropdown-item Tầm nhìn - sứ mạng
              a(href='#').dropdown-item Mục tiêu đào tạo
              a(href='#').dropdown-item Ban chủ nhiệm Khoa
              a(href='#').dropdown-item Các bộ phận & Hội đồng
              a(href='#').dropdown-item Đội ngũ giáo viên
              a(href='#').dropdown-item Liên hệ
              .dropdown-header Đào tạo
              a(href='#').dropdown-item Chương trình học
              a(href='#').dropdown-item CĐ tin học
              a(href='#').dropdown-item CĐN quản trị mạng
              a(href='#').dropdown-item CĐN SCLR máy tính
              
          li.nav-item
            a(href='#' role='button' data-toggle='dropdown').nav-link.text-uppercase.dropdown-toggle Thông báo
            .dropdown-menu.p-0.shadow
              a(href='#').dropdown-item Thông báo Trường
              a(href='#').dropdown-item Thông báo CĐ Tin Học
              a(href='#').dropdown-item Thông báo CĐ Nghề
          //- li.nav-item
            a(href='#' role='button' data-toggle='dropdown').nav-link.text-uppercase.dropdown-toggle Tuyển sinh
            .dropdown-menu.p-0.shadow
              a(href='#').dropdown-item Thông báo tuyển sinh
              a(href='#').dropdown-item Điểm chuẩn hằng năm
              a(href='#').dropdown-item Tư vấn tuyển sinh
          //- li.nav-item
            a(href='#' role='button' data-toggle='dropdown').nav-link.text-uppercase.dropdown-toggle Đào tạo
            .dropdown-menu.p-0.shadow
              a(href='#').dropdown-item Chương trình học
              a(href='#').dropdown-item CĐ tin học
              a(href='#').dropdown-item CĐN quản trị mạng
              a(href='#').dropdown-item CĐN SCLR máy tính
          li.nav-item
            a(href='#' role='button' data-toggle='dropdown').nav-link.text-uppercase.dropdown-toggle Sinh viên
            .dropdown-menu.p-0.shadow
              a(href='#').dropdown-item Cựu sinh viên
              a(href='#').dropdown-item Thời khóa biểu
              a(href='#').dropdown-item E-Learning
              a(href='#').dropdown-item Tài liệu học tập
              a(href='#').dropdown-item Tra cứu
              a(href='#').dropdown-item Mẫu đơn
              a(href='#').dropdown-item Việc làm
          li.nav-item
            a(href='#' role='button' data-toggle='dropdown').nav-link.text-uppercase.dropdown-toggle Thành tích
            .dropdown-menu.p-0.shadow
              a(href='#').dropdown-item Hợp tác quốc tế
              a(href='#').dropdown-item Công trình khoa học
              a(href='#').dropdown-item Bảng vàng thành tích
              a(href='#').dropdown-item Doanh nghiệp đồng hành
          //- li.nav-item
            a(href='vieclam.html').nav-link.text-uppercase Việc làm
        //- form.header_search.ml-auto
          input.header_search__input(type='text' placeholder='Hãy nhập gì đó...')
          button.header_search__button(type='reset')

  //- .header_mobile
  .header_mobile.d-lg-none
    a(href='index.html')
      img.header_logo__mobile(src='img/logo/logo.jpg' alt='logo.jpg')
    a(href='#' role='button').offcanvas_button__open.mdi.mdi-menu
    .offcanvas.offcanvas_overlay
      .offcanvas_bar
        .offcanvas_header
          a(href='index.html')
            img.lazy.offcanvas_header__logo(data-src='img/logo/logo.jpg' alt='logo.jpg')
        ul.offcanvas_nav
          li.offcanvas_nav__item
            a(href='index.html').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-home
              span.text Trang chủ
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-information-outline
              span.text Giới thiệu
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-alarm-light
              span.text Thông báo
          li.offcanvas_nav__item
            a(href='contact.html').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-phone
              span.text Liên hệ
          li.offcanvas_nav__divider
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-domain
              span.text Trung tâm Tin học
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-layers-triple-outline
              span.text Danh sách học phần
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-stack-overflow
              span.text Tài liệu học tập
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-near-me
              span.text Cơ hội việc làm
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-laptop
              span.text E-learning
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-school
              span.text Cựu Sinh viên
            ul.offcanvas_nav__sub
              li.offcanvas_nav__item
                a(href='#').offcanvas_nav__link
                  span.offcanvas_icons.mdi.mdi-home-outline
                  span.text Nav sub 1
              li.offcanvas_nav__item
                a(href='#').offcanvas_nav__link
                  span.offcanvas_icons.mdi.mdi-information-outline
                  span.text Nav sub 2
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-folder-account
              span.text Tra cứu thông tin học viên
          li.offcanvas_nav__item
            a(href='#').offcanvas_nav__link
              span.offcanvas_icons.mdi.mdi-calendar-check
              span.text Lịch thi
          li.offcanvas_nav__divider
          li.offcanvas_nav__item
            div(role='button').d-block.offcanvas_button__close
              span.offcanvas_icons.mdi.mdi-close
              | Đóng