body
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 1rem
main
  overflow: hidden

@import 'header/index.sass'
@import 'footer/index.sass'
@import 'banner-home/banner-home.sass'
@import 'highlight-home/highlight-home.sass'
@import 'job-home/job-home.sass'
@import 'gallery-home/gallery-home.sass'
@import 'news-home/news-home.sass'
@import 'partner-home/partner-home.sass'

.map-container
  height: 200px
  position: relative

  iframe
    left: 0
    top: 0
    height: 100%
    width: 100%
    position: absolute

  .align-items-center
    margin-top: 5%
