section.feature_home__wrapper.bg__light.py-5
  .container-fluid(data-aos='fade-right' data-aos-delay='300' data-aos-duration='1500')
    .text-center
      .news_home__title.text-uppercase.font-weight-bold.mb-3 Tiện ích sinh viên
    .row
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-stack-overflow
          .feature_home__text.mt-2 Tài liệu học tập
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-folder-account
          .feature_home__text.mt-2 Tra cứu
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-near-me
          .feature_home__text.mt-2 Cơ hội việc làm
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-laptop
          .feature_home__text.mt-2 E-learning
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-school
          .feature_home__text.mt-2 Cựu sinh viên
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-calendar-check
          .feature_home__text.mt-2 Lịch thi
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-domain
          .feature_home__text.mt-2 Trung tâm Tin học
      .col-6.col-lg-3.feature_home__item
        a(href='#').feature_home__box.card.border-0.py-3.px-2.py-sm-5.px-sm-3.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.mdi.mdi-layers-triple-outline
          .feature_home__text.mt-2 Học phần