section.feature_home__wrapper.mt-5
  .container
    .text-center
      .news_home__title.text-uppercase.font-weight-bold.mb-3 Tiện ích sinh viên
    .row
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #fab1a0').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fab.fa-stack-overflow
          .feature_home__text.mt-2 Tài liệu học tập
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #00cec9').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-search
          .feature_home__text.mt-2 Tra cứu điểm thi
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #e17055').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-briefcase
          .feature_home__text.mt-2 Cơ hội việc làm
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #0984e3').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-school
          .feature_home__text.mt-2 E-learning
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #81ecec').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-user-graduate
          .feature_home__text.mt-2 Cựu sinh viên
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #ff7675').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-list-alt
          .feature_home__text.mt-2 học phần
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #74b9ff').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-atom
          .feature_home__text.mt-2 Trung tâm Tin học
      .col-6.col-lg-3.feature_home__item
        a(href='#' style='background: #d63031').feature_home__box.card.border-0.p-3.py-sm-5.my-2.my-sm-3.text-center.text-decoration-none.text-uppercase.text-white
          .feature_home__icon.fas.fa-calendar-alt
          .feature_home__text.mt-2 Lịch thi