section.news_home__wrapper.mt-5
  .container
    .row
      .col-12.text-center
        .news_home__title.text-uppercase.font-weight-bold tin tức
      .col-lg-8.mt-4
        .news_home__main.p-3
          a(href='#').hashtag.d-none.d-md-inline-flex Nổi bật
          .swiper-container.h-100
            .swiper-wrapper
              .swiper-slide
                .news_home__main__wrapper
                  .news_home__main__desc.px-md-3
                    .news_home__main__title.mt-2.mt-md-5
                      .d-md-none.mb-2.mb-md-0
                        a(href='#').hashtag Nổi bật
                      a(href='#' title='TUYỂN SINH CAO ĐẲNG CÔNG NGHỆ THÔNG TIN CHÍNH QUY NĂM 2020') TUYỂN SINH CAO ĐẲNG CÔNG NGHỆ THÔNG TIN CHÍNH QUY NĂM 2020
                    .small.mt-2 24-06-2020
                  .news_home__main__image
                    img.swiper-lazy(data-src='http://cntt.caothang.edu.vn/wp-content/uploads/2019/12/banner-42020.png' alt='Hình ảnh')
              .swiper-slide
                .news_home__main__wrapper
                  .news_home__main__desc.px-md-3
                    .news_home__main__title.mt-2.mt-md-5
                      .d-md-none.mb-2.mb-md-0
                        a(href='#').hashtag Nổi bật
                      a(href='#' title='TUYỂN SINH CAO ĐẲNG SỬA CHỮA LẮP RÁP MÁY TÍNH CHÍNH QUY NĂM 2020') TUYỂN SINH CAO ĐẲNG SỬA CHỮA LẮP RÁP MÁY TÍNH CHÍNH QUY NĂM 2020
                    .small.mt-2 24-06-2020
                  .news_home__main__image
                    img.swiper-lazy(data-src='http://cntt.caothang.edu.vn/wp-content/uploads/2019/12/banner-32020.png' alt='Hình ảnh')
          .news_home__main__nav
            span(role='button').news_home__main__nav-prev.mdi.mdi-chevron-left
            span(role='button').news_home__main__nav-next.mdi.mdi-chevron-right
      .col-lg-4.mt-4.mt-lg-0
        .news_home__sub
          .news_home__sub__header
            .news_home__sub__header__title MỚI NHẤT
            .news_home__sub__nav
              div(role='button').news_home__sub__nav-prev.mdi.mdi-chevron-up
              div(role='button').news_home__sub__nav-next.mdi.mdi-chevron-down
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .news_home__sub__desc
                  .news_home__sub__title
                    a(href='news-detail.html' title='[THÔNG BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17') [THÔNG BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17
                  .small.mt-2 24-06-2020
              .swiper-slide
                .news_home__sub__desc
                  .news_home__sub__title
                    a(href='news-detail.html' title='[THÔNG BÁO] LỊCH CHẤM THỰC TẬP TỐT NGHIỆP CĐTH 17') [THÔNG BÁO] LỊCH CHẤM THỰC TẬP TỐT NGHIỆP CĐTH 17
                  .small.mt-2 24-06-2020
              .swiper-slide
                .news_home__sub__desc
                  .news_home__sub__title
                    a(href='news-detail.html' title='[THÔNG BÁO] DANH SÁCH GIÁO VIÊN PHỤ TRÁCH HƯỚNG DẪN THỰC TẬP TỐT NGHIỆP CĐTH 17') [THÔNG BÁO] DANH SÁCH GIÁO VIÊN PHỤ TRÁCH HƯỚNG DẪN THỰC TẬP TỐT NGHIỆP CĐTH 17
                  .small.mt-2 24-06-2020
              .swiper-slide
                .news_home__sub__desc
                  .news_home__sub__title
                    a(href='news-detail.html' title='[THÔNG BÁO] LỊCH HỌC KỲ PHỤ') [THÔNG BÁO] LỊCH HỌC KỲ PHỤ
                  .small.mt-2 24-06-2020
              .swiper-slide
                .news_home__sub__desc
                  .news_home__sub__title
                    a(href='news-detail.html' title='[THÔNG BÁO] LỊCH HỌC KỲ PHỤ T7 – CN (CẬP NHẬT)') [THÔNG BÁO] LỊCH HỌC KỲ PHỤ T7 – CN (CẬP NHẬT)
                  .small.mt-2 24-06-2020
              .swiper-slide
                .news_home__sub__desc
                  .news_home__sub__title
                    a(href='news-detail.html' title='[THÔNG BÁO] ĐĂNG KÝ THAM GIA TUYỂN CHỌN ĐỘI TUYỂN OLYMPIC TIN HỌC CAO THẮNG 2018') [THÔNG BÁO] ĐĂNG KÝ THAM GIA TUYỂN CHỌN ĐỘI TUYỂN OLYMPIC TIN HỌC CAO THẮNG 2018
                  .small.mt-2 24-06-2020