footer.footer_master.bg__caothang__light.border-bottom.pt-4.pt-md-5.pb-2.pb-md-5.text-white
  .container-fluid
    .row
      .col-lg-3
        a(href='#')
          img.footer_logo(src='img/logo/logo_white.png')
        nav.footer_text.mt-2.mt-lg-3
          li.d-flex.mt-2
            span.mr-2.mdi.mdi-map-marker
            span Lầu 7 (Dãy nhà F) 65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, Tp Hồ Chí Minh
          li.d-flex.mt-2
            span.mr-2.mdi.mdi-phone
            span + 08.38212360 (ext-14)
          li.d-flex.mt-2
            span.mr-2.mdi.mdi-email
            span cntt@caothang.edu.vn
      .col-lg
        .row
          .col-sm-6.col-md.mt-3.mt-lg-0
            .footer_title.text-uppercase Sinh viên
            nav.footer_text.mt-2.mt-lg-3
              li.mt-2
                a(href='#').text-reset Cựu sinh viên
              li.mt-2
                a(href='#').text-reset Thời khoá biểu
              li.mt-2
                a(href='#').text-reset E-Learning
              li.mt-2
                a(href='#').text-reset Tài liệu học tập
              li.mt-2
                a(href='#').text-reset Tra cứu
              li.mt-2
                a(href='#').text-reset Việc làm
          .col-sm-6.col-md.mt-3.mt-lg-0
            .footer_title.text-uppercase Hợp tác & Nghiên cứu
            nav.footer_text.mt-2.mt-lg-3
              li.mt-2
                a(href='#').text-reset Hợp tác Quốc tế
              li.mt-2
                a(href='#').text-reset Công trình khoa học
              li.mt-2
                a(href='#').text-reset Bảng vàng thành tích
              li.mt-2
                a(href='#').text-reset Doanh nghiệp đồng hành
          .col-sm-6.col-md.mt-3.mt-lg-0
            .footer_title.text-uppercase Thông báo
            nav.footer_text.mt-2.mt-lg-3
              li.mt-2
                a(href='#').text-reset Thông báo từ Trường
              li.mt-2
                a(href='#').text-reset Thông báo Bộ Môn
              li.mt-2
                a(href='#').text-reset Thông báo từ Khoa
          .col-sm-6.col-md.mt-3.mt-lg-0
            .footer_title.text-uppercase E-Learning
            .footer_text.mt-2 Ứng dụng E - Learning của trường Cao Đẳng Kỹ Thuật Cao Thắng
            .mt-2.ml-n1
              a(href='#')
                img.m-1(height='30' src='img/backgrounds/tai-appstore.jpg' alt='Tải ứng dụng App Store')
              a(href='#')
                img.m-1(height='30' src='img/backgrounds/tai-google-play.jpg' alt='Tải ứng dụng Google Play')