footer.footer.mt-5
  .container-fluid.footer-bs.pt-5
    .row
      .col-md-4.animated.fadeInLeft
        a(href='#')
          img.mw-100(src='img/logo/logo.jpg')
        nav.mt-3
          li.d-flex.mb-2
            i.pt-1.mr-2.text-white.fas.fa-map-marker-alt
            span Lầu 7 (Dãy nhà F) 65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, Tp Hồ Chí Minh
          li.d-flex.mb-2
            i.pt-1.mr-2.text-white.fas.fa-phone
            span + 08.38212360 (ext-14)
          li.d-flex.mb-2
            i.pt-1.mr-2.text-white.fas.fa-envelope
            span cntt@caothang.edu.vn
      .col-md-3.footer-nav.animated.fadeInUp
        h4 Trang chủ —
        ul.pages
          li
            a(href='#') Giới thiệu
          li
            a(href='#') E-Learning
          li
            a(href='#') Tin tức
          li
            a(href='#') Sinh viên
          li
            a(href='#') Hợp tác nghiên cứu
          li
            a(href='#') Trung tâm Tin học
      .col-md-3.footer-nav.animated.fadeInUp
        div
          h4 Hệ đào tạo —
          ul.pages
            li
              a(href='#') Cao đẳng tin học
            li
              a(href='#') Cao Đẳng Nghề Quản Trị Mạng
            li
              a(href='#') Cao Đẳng Nghề SCLRMT
      .col-md-2.footer-social.animated.fadeInDown
        h4 Follow Us
        ul
          li
            a(href='#') Facebook
          li
            a(href='#') Twitter
          li
            a(href='#') Instagram
