footer.footer
  .container.footer-bs.pt-5
    .row
      .col-md-4.footer-brand.animated.fadeInLeft
        a(href='#')
          img.mw-100(src='img/logo/logo.jpg')
        ul.text-lg-left.list-unstyled.mt-3
          li
            p
              i.fas.fa-map-marker-alt.pr-2
              span Lầu 7 (Dãy nhà F) 65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, Tp Hồ Chí Minh
          li
            p
              i.fas.fa-phone.pr-2
              span + 08.38212360 (ext-14)
          li
            p
              i.fas.fa-envelope.pr-2
              span cntt@caothang.edu.vn
      .col-md-3.footer-nav.animated.fadeInUp
        h4 Trang chủ —
        div
          ul.pages
            li
              a(href='#') Giới thiệu
            li
              a(href='#') E-Learning
            li
              a(href='#') Tin tức
            li
              a(href='#') Sinh viên
            li
              a(href='#') Hợp tác nghiên cứu
            li
              a(href='#') Trung tâm Tin học
      .col-md-3.footer-nav.animated.fadeInUp
        div
          h4 Hệ đào tạo —
          ul.pages
            li
              a(href='#') Cao đẳng tin học
            li
              a(href='#') Cao Đẳng Nghề Quản Trị Mạng
            li
              a(href='#') Cao Đẳng Nghề SCLRMT
      .col-md-2.footer-social.animated.fadeInDown
        h4 Follow Us
        ul
          li
            a(href='#') Facebook
          li
            a(href='#') Twitter
          li
            a(href='#') Instagram
