section.social_media__wrapper.shadow
  a(href='#').social_media__facebook.fab.fa-facebook-f.bg_gradient_facebook
  a(href='#').social_media__youtube.fab.fa-youtube
  .social_media__search.bg-white
    form.header_search
      input.header_search__input.bg-white(type='text' placeholder='Nhập keyword...')
      button.header_search__button(type='reset')
  a(href='#').social_media__BackToTop.mdi.mdi-chevron-up.bg__caothang