section.banner_home__wrapper
  video.banner_home__video.lazy(autoplay muted loop)
    //- source(src='videos/video_1080.mp4' type='video/mp4')
    //- source(src='videos/video_720.mp4' type='video/mp4')
    source(data-src='https://res.cloudinary.com/loc-thanh/video/upload/v1592986286/video_720_cz1gbx.mp4' type='video/mp4')